html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #111827;
  font-family: 'Segoe UI', sans-serif;
}

body {
  overflow: hidden;
}

.reveal {
  width: 100%;
  height: 100%;
}

.reveal .slides {
  text-align: left;
}

.reveal h1 {
  font-size: 250%;
}

.reveal p,
.reveal li {
  /* font-size: 1.3rem;q */
  line-height: 1.2;
}

.reveal code {
  font-size: 1.0em;
  color: darkblue;
} 

.reveal pre code {
  font-size: 1.5em;
  line-height: 1.7;
} 

@media (max-width: 768px) {
  .reveal p,
  .reveal li {
    font-size: 1.1rem;
  }
}
